[run]
branch = True
source =
    api
omit =
    api/dist/*
    api/build/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
